<!doctype html>
<html lang="en">

<head>
    <title>EasyFastAI - Empower your business with AI</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="EasyFastAI - Empower your business with AI">
    <meta name="keywords" content="AI, Customer Service, WhatsApp, bot, sales, automation, business, agent">
    <link rel="shortcut icon" href="landing/images/icon.png" type="image/x-icon">

    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="landing/css/bootstrap.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="landing/css/themify-icons.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" href="landing/css/owl.carousel.min.css">
    <!-- Main css -->
    <link href="landing/css/style.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">

    <!-- Nav Menu -->

    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <a class="navbar-brand" href="index.html"><img src="landing/images/logo-no-background.png"
                                class="img-fluid" alt="logo"></a> <button class="navbar-toggler" type="button"
                            data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false"
                            aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"> <a class="nav-link active" href="#home">HOME <span
                                            class="sr-only">(current)</span></a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#features">FEATURES</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#gallery">GALLERY</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#pricing">PRICING</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="#contact">CONTACT</a> </li>
                                <li class="nav-item"><a href="/signup"
                                        class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Start for free</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <style>
        @keyframes slideInFromLeft {
            0% {
                transform: translateX(-100%);
                opacity: 0;
            }

            100% {
                transform: translateX(0);
                opacity: 100;
            }
        }

        @keyframes slideInFromRight {
            0% {
                transform: translateX(100%);
                opacity: 0;
            }

            100% {
                transform: translateX(0);
                opacity: 100;
            }
        }

        #left-in-slide {
            /* This section calls the slideInFromLeft animation we defined above */
            animation: 1.5s ease-out 0s 1 slideInFromLeft;
        }

        #right-in-slide {
            /* This section calls the slideInFromLeft animation we defined above */
            animation: 1.5s ease-out 0s 1 slideInFromRight;
        }
    </style>

    <header class="bg-gradient container-fluid" id="home">
        <div class="container">
            <div class="row align-items-center">
                <div id="left-in-slide" class="col-md-3">
                    <div class="img-holder"><img width="100%" src="landing/images/conv.png" alt="phone" class="img-fluid"></div>
                </div>
                <div class="col-md-9 text-left py-2" id="right-in-slide">
                    <h1>Empower your business with AI</h1>
                    <p class="tagline">Customize AI to automate your business enquiries via WhatsApp<br><u>in under 5
                            minutes!</u></p>
                    <a href="/signup" class="btn btn-lg btn-outline-light mt-4 mb-5">Start For Free</a>
                </div>
                <!-- <div class="col-md-3">
                    <div id="right-in-image" class="img-holder"><img width="100%" src="images/conv.png" alt="phone"
                            class="img-fluid"></div>
                </div> -->
            </div>
        </div>
    </header>
    <!-- <header class="bg-gradient" id="home">
        <div class="container mt-5">
            <h1>Empower your business with AI</h1>
            <p class="tagline">Customize AI to automate your business enquiries via WhatsApp<br><u>in under 5
                    minutes!</u></p>
        </div>
        <div class="img-holder mt-3"><img width="500px" src="images/conv.png" alt="phone" class="img-fluid"></div>
    </header> -->

    <div class="client-logos my-5">
        <div class="container text-center">
            <img src="landing/images/client-logos-1.png" alt="client logos" class="img-fluid">
        </div>
    </div>

    <div class="section light-bg" id="features">


        <div class="container">

            <div class="section-title">
                <small>HIGHLIGHTS</small>
                <h3>Features your customers love</h3>
            </div>


            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">24/7</h4>
                                    <p class="card-text">Unlock the allure of EasyFastAI—24/7 efficiency and
                                        effectiveness that keeps your business irresistibly active, driving non-stop
                                        traffic and sales. Elevate your business with the seductive power of EasyFastAI
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-settings gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Multilanguage</h4>
                                    <p class="card-text">Indulge in the power of our multilingual, personalized
                                        conversations—where language barriers vanish, and your messages captivate
                                        customers effortlessly in any tongue, ensuring global success</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-lock gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Train</h4>
                                    <p class="card-text">Enhance your business's AI capabilities with our flexible
                                        training model, tailored to your unique needs. We ensure optimal customer
                                        engagement by harnessing diverse data sources</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
    <!-- // end .section -->
    <div class="section">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6">
                    <div class="box-icon"><span class="ti-mobile gradient-fill ti-3x"></span></div>
                    <h2>How AI Help your Business</h2>
                    <p class="mb-4">AI in business inquiries boosts professionalism, efficiency, customer satisfaction,
                        and cost savings. It provides 24/7 support, personalization, data insights, and scalability,
                        ensuring a brighter future for your business.</p>
                    <a href="/signup" class="btn btn-primary">Start For Free</a>
                </div>
            </div>
            <div class="perspective-phone">
                <img src="landing/images/perspective.png" alt="perspective phone" class="img-fluid">
            </div>
        </div>

    </div>
    <!-- // end .section -->


    <div class="section light-bg">
        <div class="container">
            <div class="section-title">
                <small>FEATURES</small>
                <h3>Do more with our AI customer service</h3>
            </div>

            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#communication">Happy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#schedule">Multilanguage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#messages">Instant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#livechat">Human</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="communication">
                    <div class="d-flex flex-column flex-lg-row">
                        <!-- <img src="images/logo-mini.jpg" alt="graphic"
                            class="img-fluid rounded align-self-center mr-lg-5 mb-5 mb-lg-0"> -->
                        <div>

                            <h2>Make your customers happier</h2>
                            <p class="lead">Personalize conversations for each customer
                            </p>
                            <p>
                                In today's dynamic business landscape, customer satisfaction is paramount. Businesses
                                thrive when they can deliver a personalized and attentive experience to their valued
                                customers. At EasyFastAI, we understand the significance of this, and we are
                                here to help you achieve it.
                            </p>
                            <p>
                                Our solution hinges on the collection and preservation of customer data and chat
                                history, meticulously organized to ensure that every interaction with your customers is
                                not just efficient but also deeply personalized.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="schedule">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Multilanguage magic</h2>
                            <p class="lead">Unlock the Potential of Multilingual, Personalized Conversations
                            </p>
                            <p>Immerse yourself in the capabilities of our cutting-edge multilingual communication
                                platform, where the boundaries of language fade away, and your messages effortlessly
                                engage customers in their preferred tongue, ensuring a seamless path to global success.
                            </p>
                            <p> Our commitment to providing a seamless, multilingual experience for your customers is
                                driven by a dedication to your brand's global success. We believe that, by eliminating
                                language barriers, you can capture the attention and loyalty of a broader audience, and
                                our platform is here to make that a reality.
                            </p>
                        </div>
                        <!-- <img src="images/logo-mini.jpg" alt="graphic"
                            class="img-fluid rounded align-self-center ml-lg-5 mb-5 mb-lg-0"> -->
                    </div>
                </div>
                <div class="tab-pane fade" id="messages">
                    <div class="d-flex flex-column flex-lg-row">
                        <!-- <img src="images/logo-mini.jpg" alt="graphic"
                            class="img-fluid rounded align-self-center mr-lg-5 mb-5 mb-lg-0"> -->
                        <div>
                            <h2>Reply to customers instantly</h2>
                            <p class="lead">Unlock the ability for instate reply to your customer at anytime
                            </p>
                            <p>In today's fast-paced business landscape, providing in-state, instantaneous responses to
                                your customers is pivotal for fostering trust and loyalty. Our solution is designed to
                                equip your business with the capability to engage with customers at any moment, ensuring
                                real-time interactions and delivering an exceptional level of service.
                            </p>
                            <p> We believe that by facilitating instant customer engagement, your business can stand out
                                in a competitive market, creating positive impressions and enhancing customer
                                satisfaction. The power of real-time responsiveness can help your business build trust,
                                loyalty, and drive sustained success.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="livechat">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>We talk human language</h2>
                            <p class="lead">What is better than a bot who speaks human language
                            </p>
                            <p>In the realm of advanced AI solutions, transcending mere 'human language' proficiency is
                                imperative. Elevating your AI capabilities to new heights entails embracing a system
                                that not only speaks the language but comprehends, engages, and adapts in a manner that
                                mimics human conversation with unparalleled finesse.
                            </p>
                            <p> we understand that achieving conversational excellence necessitates more than linguistic
                                competence. Our AI solution is designed to emulate the nuances and intricacies of human
                                communication, offering a level of understanding and adaptability that surpasses
                                traditional language proficiency.
                            </p>
                        </div>
                        <!-- <img src="images/logo-mini.jpg" alt="graphic"
                            class="img-fluid rounded align-self-center ml-lg-5 mt-5 mt-lg-0"> -->
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- // end .section -->

    <div class="section">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="landing/images/long-messages.png" alt="dual phone" class="img-fluid">
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <div>
                        <div class="box-icon"><span class="ti-rocket gradient-fill ti-3x"></span></div>
                        <h2>Launch your AI Customer Service</h2>
                        <p class="mb-4">Empower your business with AI today and bid farewell to unattended conversations
                        </p>
                        <a href="/signup" class="btn btn-primary">Start For Free</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- // end .section -->


    <div class="section light-bg">

        <div class="container">
            <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                    <ul class="list-unstyled ui-steps">
                        <li class="media">
                            <div class="circle-icon mr-4">1</div>
                            <div class="media-body">
                                <h5>Scan QR Code</h5>
                                <p>Utilize the WhatsApp-linked device option to scan the QR code generated by our
                                    system, facilitating the seamless connection of your WhatsApp number</p>
                            </div>
                        </li>
                        <li class="media my-4">
                            <div class="circle-icon mr-4">2</div>
                            <div class="media-body">
                                <h5>Train AI</h5>
                                <p>Begin the process of uploading documents to facilitate a deeper understanding of your
                                    business by our AI</p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="circle-icon mr-4">3</div>
                            <div class="media-body">
                                <h5>AI Ready For Use</h5>
                                <p>Our AI is now poised to efficiently manage customer interactions around the clock,
                                    leveraging the data provided in any language</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <img src="landing/images/iphonex.png" alt="iphone" class="img-fluid">
                </div>

            </div>

        </div>

    </div>
    <!-- // end .section -->


    <div class="section">
        <div class="container">
            <div class="section-title">
                <small>TESTIMONIALS</small>
                <h3>What our Customers Says</h3>
            </div>

            <div class="testimonials owl-carousel">
                <div class="testimonials-single">
                    <img src="landing/images/kama.jpg" alt="client" class="client-img">
                    <blockquote class="blockquote">It helps us improve our conferences participants enquires with an
                        instant response, handling diffrent languge and the most intresting one is repling to voice
                        notes it's helping us reduce the effort and the time spent to reply to a repetitive queries.
                    </blockquote>
                    <h5 class="mt-4 mb-2">Khalid Abouelmagd</h5>
                    <p class="text-primary">CEO at KAMA GROUP</p>
                </div>
                <div class="testimonials-single">
                    <img src="landing/images/kk.jpg" alt="client" class="client-img">
                    <blockquote class="blockquote">Awesome to have easy, fast and non-tech friendly platform to easy put
                        our data and AI will train based on our documents and instant changes can be applied.
                    </blockquote>
                    <h5 class="mt-4 mb-2">Norman KK Ng</h5>
                    <p class="text-primary">CTO at DoctorOnCall</p>
                    <!-- <p class="text-primary">Malaysia</p> -->
                </div>
                <!-- <div class="testimonials-single">
                    <img src="images/client.png" alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives.
                        Conveniently embrace multifunctional ideas through proactive customer service. Distinctively
                        conceptualize 2.0 intellectual capital via user-centric partnerships.</blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                    <p class="text-primary">United States</p>
                </div> -->
            </div>

        </div>

    </div>
    <!-- // end .section -->


    <div class="section light-bg" id="gallery">
        <div class="container">
            <div class="section-title">
                <small>GALLERY</small>
                <h3>Conversations Screenshots</h3>
            </div>

            <div class="img-gallery owl-carousel owl-theme">
                <img src="landing/images/F1.png" alt="image">
                <img src="landing/images/F2.png" alt="image">
                <img src="landing/images/F3.png" alt="image">
                <img src="landing/images/F4.png" alt="image">
            </div>

        </div>

    </div>
    <!-- // end .section -->





    <div class="section" id="pricing">
        <div class="container">
            <div class="section-title">
                <small>PRICING</small>
                <h3>Subscription</h3>
            </div>

            <div class="card-deck">
                <div class="card pricing">
                    <div class="card-head">
                        <small class="text-primary">Basic</small>
                        <span class="price">$39<sub>/m</sub></span>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="list-group-item">1 WhatsApp Line</div>
                        <div class="list-group-item">Basic Support</div>
                        <div class="list-group-item"><del>Voice Note Support</del></div>
                        <div class="list-group-item"><del>Reports and analytics</del></div>
                    </ul>
                    <div class="card-body">
                        <a href="/signup" class="btn btn-primary btn-lg btn-block">Choose this Plan</a>
                    </div>
                </div>
                <div class="card pricing popular">
                    <div class="card-head">
                        <small class="text-primary">Silver (Most Popular)</small>
                        <span class="price">$59<sub>/m</sub></span>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="list-group-item">1 WhatsApp Line</div>
                        <div class="list-group-item">Full Support</div>
                        <div class="list-group-item">Voice Note Support</div>
                        <div class="list-group-item"><del>Reports and analytics</del></div>
                    </ul>
                    <div class="card-body">
                        <a href="/signup" class="btn btn-primary btn-lg btn-block">Choose this Plan</a>
                    </div>
                </div>
                <div class="card pricing">
                    <div class="card-head">
                        <small class="text-primary">Diamond</small>
                        <span class="price">$69<sub>/m</sub></span>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div class="list-group-item">1 WhatsApp Line</div>
                        <div class="list-group-item">VIP Support</div>
                        <div class="list-group-item">Voice Note Support</div>
                        <div class="list-group-item">Reports and analytics</div>
                    </ul>
                    <div class="card-body">
                        <a href="/signup" class="btn btn-primary btn-lg btn-block">Choose this Plan</a>
                    </div>
                </div>
            </div>
            <!-- // end .pricing -->


        </div>

    </div>
    <!-- // end .section -->


    <div class="section pt-0">
        <div class="container">
            <div class="section-title">
                <small>FAQ</small>
                <h3>Frequently Asked Questions</h3>
            </div>

            <div class="row pt-4">
                <div class="col-md-6">
                    <h4 class="mb-3">Can I try before I subscribe?</h4>
                    <p class="light-font mb-5">Certainly, you are welcome to explore our services with up to 100
                        messages without the need for a subscription.</p>
                    <h4 class="mb-3">Is it hard to be implemented?</h4>
                    <p class="light-font mb-5">Setting up your WhatsApp is a straightforward process
                        requiring just three simple steps that can be completed in under 5 minutes.</p>

                </div>
                <div class="col-md-6">
                    <h4 class="mb-3">How many conversations EasyFastAI can handle?</h4>
                    <p class="light-font mb-5">EasyFastAI runs seamlessly 24/7, guaranteeing instant responses to all
                        inquiries, regardless of the time.</p>
                    <h4 class="mb-3">Can I connect more than one WhatsApp line?</h4>
                    <p class="light-font mb-5">Our platform facilitates the connection of multiple WhatsApp lines
                        concurrently within a single account.</p>

                </div>
            </div>
        </div>

    </div>
    <!-- // end .section -->



    <div class="section bg-gradient">
        <div class="container">
            <div class="call-to-action">

                <div class="box-icon"><span class="ti-mobile gradient-fill ti-3x"></span></div>
                <h2>Start Now With Free 100 Messages</h2>
                <div class="my-4">
                    <a href="https://api.whatsapp.com/send/?phone=60175733742&text=Hello EasyFastAI, I need you help to get better customer service&type=phone_number&app_absent=0"
                        target="_blank" class="btn btn-light">Book Your Demo</a>
                    <a href="/signup" class="btn btn-light">Start For Free</a>
                </div>
            </div>
        </div>

    </div>
    <!-- // end .section -->

    <div class="light-bg py-5" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left">
                    <p class="mb-2 text-primary"> <span class="ti-location-pin mr-2"></span> 58000 Kuala Lumpur,
                        Malaysia
                    </p>
                    <div class=" d-block d-sm-inline-block">
                        <p class="mb-2">
                            <span class="ti-email mr-2 text-primary"></span> <a class="mr-4 text-primary"
                                href="mailto:contact@easyfastai.com">contact@easyfastai.com</a>
                        </p>
                    </div>
                    <div class="d-block d-sm-inline-block">
                        <p class="mb-0">
                            <span class="ti-headphone-alt mr-2 text-primary"></span> <a target="_blank"
                                href="https://wa.me/60175733742" class="text-primary">+60 17-573 3742</a>
                        </p>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="social-icons">
                        <a target="_blank" href="https://www.facebook.com/easyfastai"><span
                                class="ti-facebook"></span></a>
                        <a target="_blank" href="https://www.linkedin.com/company/96874915"><span
                                class="ti-linkedin"></span></a>
                        <a target="_blank" href="https://www.instagram.com/easyfastai"><span
                                class="ti-instagram"></span></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- // end .section -->
    <footer class="my-5 text-center">
        <!-- Copyright removal is not prohibited! -->
        <p class="mb-2"><small>COPYRIGHT © 2017. ALL RIGHTS RESERVED. EasyFastAI</small></p>

        <small>
            <a href="#" class="m-2 text-secondary">PRESS</a>
            <a href="#" class="m-2 text-secondary">TERMS</a>
            <a href="#" class="m-2 text-secondary">PRIVACY</a>
        </small>
    </footer>

    <!-- jQuery and Bootstrap -->
    <script src="landing/js/jquery-3.2.1.min.js"></script>
    <script src="landing/js/bootstrap.bundle.min.js"></script>
    <!-- Plugins JS -->
    <script src="landing/js/owl.carousel.min.js"></script>
    <!-- Custom JS -->
    <script src="landing/js/script.js"></script>

</body>

</html>